.contact{
    text-align: center;
    padding-left: 210px;
    padding-top: 50px;
    background-color: #DFE9EB;
}

  .title{
    font-size:35px;
}
.contact_info{
  padding-left: 30px;
    padding-top: 50px;
    text-align: left;
    

}
.contact_info p{
  margin-top: -40px;
  margin-left: 15vh;
  font-display: none;
  /* justify-items: top; */
  
}
.contact-item-background{
  display: block;
  height: 300px;
  margin-top: 40px;
  margin-left: 250px;
  margin-right: 100px;
  /* padding-right: 100vh; */
  background-color: #eeecec;
  box-shadow:  4px 4px #bbb3b3;
}


    
.github{
  margin-left: 4vh;
}

.github1 p{
  margin-left: 20vh;
  margin-top: -50px;
}
.linkedin{
  margin-top: 30px;
  margin-left: 30px;
}

 